<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="list"></ion-icon>
      <ion-label>新闻</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entertainment">
      <ion-icon name="happy"></ion-icon>
      <ion-label>娱乐</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="finance">
      <ion-icon name="logo-yen"></ion-icon>
      <ion-label>金融</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mine">
      <ion-icon name="person"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
